/* ********** Custom Properties ********** */
:root{
    --first-color:#252525;
    --second-color: white;
    --third-color: #2f2f2f;
    --background-color: black;
    --btn-color:rgb(167, 36, 36) ;
    --icon-color:rgb(220, 231, 231);
    --font-family-primary: 'Rubik Mono One', sans-serif;
    --font-family-second: Georgia, 'Times New Roman', Times, serif;
    --header-height: 0;
}

/* ********** Reset ********** */
html{
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--second-color);
}

 *{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: var(--font-family-primary);
    text-decoration:none;
 }

a{
    font-size: 40px;
 }

div{
     margin: 0;
 }

li{
    display:inline-block;
    list-style: none;
}
h1{
    margin: 0;
    font-size: 20px;
}
h2{
    margin: 0;
    font-size: 15px;
}
h3{
    margin: 0;
    font-size: 15px;
}
i{
    font-size: 30px;
}
img{
    margin: 0;
    border-radius: 15px;
}
span{
    margin: 0;
    font-size: 25px;
}
p{
    margin: 0;
    font-family: var(--font-family-second);
    padding: 10px;
}
/* ********** Components ********** */

body {
    display: grid; 
    min-height: 100vh;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "Header Header Header "
        "Main   Main   Main   "
        "Footer Footer Footer "
    ;
 }

 @media screen and (min-width: 700px){

    body {
        display: grid; 
        min-height: 100vh;
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
            "Header    Nav    Nav "
            "Main   Main   Main   "
            "Footer Footer Footer "
        ;
     }    
     
 }

/* ********** Header ********** */
.header{
    grid-area: Header;
    background-color: var(--second-color);
 }
 .logo-container{
     display: flex;
     color: black;
     align-content: center;
     justify-content:space-evenly;
     align-items: center;
     padding: 10px 0px;
 }
 @media screen and (min-width: 700px){
    .header{
        background-color: var(--background-color);
     }
    .logo-container{
        display: block;
        color: var(--second-color);
        padding: 10px 0px;
    }
    .logo{
        border-radius: 70px;
    }
 }
/* ********** Main ********** */
.main{
    grid-area: Main;
}

.tracing-presentation{
    padding: 20px 30px;
}
.tracing-video{
    width: 90%;
    height: 300px;
}

.hero-image{
    position: relative;
    padding: 20px 0px;
    display: inline-block;
}
.hero-image img{
    opacity: 0.6;
}
.hero-image-text{
    position: absolute;
    bottom: 50%;
    right: 15%;
}
.hero-image-texts{
    position: absolute;
    bottom: 30%;
}
.ready-container{
    padding: 0px 10px;
}
.service-container{
    padding: 10px;
}
.service-item{
    background-color: var(--first-color);
}
.service-price, .service-features{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.service-features{
    padding: 0px 35px 30px 35px;
    font-size: 15px;

}
.service-features li{
    padding: 10px 0px 30px 0px;
}

div figure{
    min-width: 360px;
}

.menuTransfom{
    font-size: 25px;
    color: white;
}
.container-text-trasform{
    padding: 0px 20px;
}

.contact-container{
    padding: 10px 30px;
}

@media screen and (min-width: 700px){

    .container-present-video{
        display: flex;
        justify-content: space-evenly;
    }
    .tracing-presentation{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .tracing-video{
        width: 30%;
        height: 300px;
    }

    .contact-container{
        display: flex;
        justify-content: space-evenly;
        padding: 30px 0px;
    }
    .contact-container-text{
        max-width: 400px;
    }
    .footer{
        display: flex;
        justify-content:space-around;
    }
    .container-red-social{
        display: flex;
    }
 }

/* ********** Menu ********** */
.menu{
    position:fixed;
    z-index: 1;
    bottom: var(--header-height);
    width: 89%;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.menu a {
    padding: 0px 15px 0px 15px;
}
.menu a h2{
    display: none;
}

.menu a i:hover{
    opacity: 0.5;
}
@media screen and (min-width: 700px){

     .menu{
        grid-area: Nav;
        position:static;
        margin: 10px 10px 10px 10px;
        padding: 10px;
        background-color: var(--background-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .menu a i{
        display: none;
    }
    .menu a h2{
        display: block;
        font-size: 20px;
        color: var(--second-color);
    }

    .menu a h2:hover{
        opacity: 0.5;
    }
     
 }
/* ********** Footer ********** */
.footer{
    grid-area: Footer;
    background-color: var(--btn-color);
   }

.tituloFooter{
    position: relative;
    top: 10px;
}

/* ********** Utilities ********** */

.horizontal_slider{
    display: block;
    overflow-x: scroll;
    box-sizing: border-box;
}

.slide_container{
    display: flex;
}

@media (min-width: 300px) and (max-width: 800px) {
    .slide_container{
        max-width: 300px;
    }

}
@media (min-width: 801px) and (max-width: 1000px) {
    .slide_container{
        max-width: 800px;
    }
    .menu a h2{
        display: block;
        font-size: 15px;
        color: var(--second-color);
    }

}
@media (min-width: 1001px) and (max-width: 1400px) {

    .menu a h2{
        display: block;
        font-size: 20px;
        color: var(--second-color);
    }

}


.horizontal_slider::-webkit-scrollbar{
    display: none;
}
.btn{
    position: relative;
    background-color: var(--btn-color);
    border-radius: 5px;
    width: auto;
    height: 40px;
    bottom: 20px;
    padding: 0px 10px;
}
.btn_text_center{
    position: relative;
    top: 9px;
    color: white;
    font-size: 18px;

}

 /* ********** Site Styles ********** */
 .includes, .star{
     background-color: var(--third-color);
 }
 .icon_menu{
    color: var(--icon-color);
}
.icon_email{
    padding: 30px  0px 15px 0px;
    font-size: 50px;
    color: var(--icon-color);
}
.social_media{
    font-size: 50px;
    padding: 20px;
    color: var(--icon-color);
}
.container-email{
    display: flex;
    flex-direction: column;
    color: white;
}