/* ********** Custom Properties ********** */
:root{
    --first-color:#252525;
    --second-color: white;
    --third-color: #2f2f2f;
    --background-color: black;
    --background-color-transparent: rgba(0, 0, 0, 0);
    --btn-color:rgb(167, 36, 36) ;
    --icon-color:rgb(220, 231, 231);
    --font-family-primary: 'Staatliches', cursive;
    --font-family-second:Arial, Helvetica, sans-serif;
    --header-height: 0;
    --font-size-icon: 40px;
    --letter-spacing-primary: 2.5px;
    --letter-spacing-second: 1px;
    --text-align-title:center;
}

/* ********** Reset ********** */
html{
    scroll-behavior: smooth;
    background-color: var(--background-color);
    color: var(--second-color);
}
 *{
    margin: 0;
    padding: 0;
    text-align: var(--text-align-title);
    font-family: var(--font-family-primary);
    text-decoration:none;
    font-stretch:ultra-expanded;
 }
li{
    display:inline-block;
    list-style: none;
}
h1{
    margin: 0;
    font-size: 20px;
    letter-spacing: var(--letter-spacing-primary);
}
h2{
    margin: 0;
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing-primary);
}
h3{
    margin: 0;
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing-primary);
}
i{
    font-size: var(--font-size-icon);
}
img{
    margin: 0;
}
span{
    margin: 0;
    font-size: var(--font-size);
    letter-spacing: var(--letter-spacing-second);
}
p{
    margin: 0;
    font-family: var(--font-family-second);
    padding: 10px;
    letter-spacing: var(--letter-spacing-second);
}

/* ********** Components ********** */

body {
    display: grid; 
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "Header Header Header "
        "Main   Main   Main   "
        "Footer Footer Footer "
    ;
 }

/* ********** Header ********** */
.header{
    grid-area: Header;
    background-color: rgba(0, 0, 0, 0.322);
 }
 .logo-container{
     display: flex;
     align-content: center;
     justify-content:center;
     align-items: center;
     padding: 10px 0px;
    }
    .logo{
    padding: 8px;
    width: 60px;
    height: 60px;
    border-radius: 80px;
}
 @media screen and (min-width: 700px){
    .header{
        background-color: var(--background-color-transparent);
     }
    .logo-container{
        display: block;
        color: var(--second-color);
    }
 }
/* ********** Main ********** */
.main{
    grid-area: Main;
}

.about-us,
.container-about-us-reverse,
.tracing-presentation,
.consists,
.container-service,
.horizontal_slider,
.container-text-trasform, 
.ready-container, 
.container-trasform,
.container-help{
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.container-about-us{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.tracing-presentation{
    padding: 20px 30px;
}
.tracing-description-text{
    max-width: 900px;
}
.tracing-video, .video-help{
    width: 90%;
    height: 300px;
}

.hero-image{
    position: relative;
    padding: 20px;
    display: inline-block;
}
.hero-image img{
    opacity: 0.6;
    border-radius: 15px;
}
.hero-image-text{
    position: absolute;
    bottom: 50%;
    left: 30%;
}
.hero-image-texts{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: var(--background-color-transparent);
    height: 363px;
    width: 260px;
    bottom: 5%;
    padding: 20px;
}
.hero-image-texts-title{
    font-size: 25px;
    color: var(--icon-color);
}
.hero-image-texts i {
    font-size: 50px;
}
.hero-image-texts:hover{
    color: var(--icon-color);
    background-color: black;
    border-radius: 15px;
    justify-content: center;
    transition: 0.5s ease-out;
}
.image-transform{
    width: 70%;
    opacity: 0.6;
}
.img-fundadores{
    width: 350px;
    background-size:cover;
    border-radius: 30px;
}
.ready-container{
    padding: 0px 10px;
}
.service-container{
    padding: 10px;
}
.service-item{
    background-color: var(--first-color);
}
.service-price, .service-features{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.service-features{
    padding: 0px 35px 30px 35px;
    font-size: 15px;

}
.service-features li{
    padding: 10px 0px 30px 0px;
}

div figure{
    min-width: 360px;
}
.container-accordion{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 0px 0px;
}
.accordion{
    width: 90%;
    padding: 10px 20px;
}
.accordion .contentBx{
    position: relative;
    margin: 10px 0px;
}
.accordion .contentBx .label{
    position: relative;
    padding: 10px 10px 10px 30px;
    display: flex;
    justify-content: space-between;
    background-color: var(--first-color);
    color: azure;
    border-top-left-radius: 15px;
    letter-spacing: var(--letter-spacing-primary);
}

.icon-rest, .icon-add{
    color: white;
    font-size: 20px;
}

.label .icon-rest{
    display: none;
}
.accordion .contentBx .content{
    height: 0;
    position: relative;
    background-color: var(--background-color);
    color: var(--second-color);
    overflow: hidden;
    transition: 0.5s;
}

.accordion .contentBx.active .content{
    height: auto;
    padding: 10px;

}
.menuTransfom{
    font-size: 25px;
    color: white;
}
.container-text-trasform{
    padding: 0px 20px;
    
}
.contact-container{
    padding: 10px 30px;
}

@media screen and (min-width: 800px){

    .container-about-us{
        flex-direction: row;
    }
    .container-about-us-reverse{
        flex-direction: row-reverse;
    }
    .container-present-video{
        display: flex;
        justify-content: space-evenly;
    }
    .contact-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 0px;
    } 
    .accordion{
        width: 70%;
    }
    .footer{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0px 30px;
    }
    .container-red-social{
        display: flex;
    }
    .menu a h2{
        display: block;
        font-size: 15px;
        color: var(--second-color);
    }
    .contact-description{
        max-width: 900px;
    }
 }

/* ********** Carousel ********** */
@keyframes carousel-slide {
    0% {
      transform: translateX(0%);
    }
  
    25% {
      transform: translateX(-25%);
    }
  
    50% {
      transform: translateX(-50%);
    }
  
    75% {
      transform: translateX(-75%);
    }
  }
  
  .carousel {
    margin: 2rem auto;
    padding: 2rem 0;
    max-width: 800px;
    text-align: center;
    overflow-x: hidden;
    background-color: var(--carousel-bg-color);
  }
  
  .carousel .slides {
    padding-left: 0;
    width: 400%;
    display: flex;
    list-style: none;
    transition: transform 0.5s ease-in-out;
    animation: carousel-slide 12s ease-in-out 3s;
  }
  
  .carousel input {
    display: none;
  }
  .carousel label {
    border: medium solid white;
    border-radius: 50%;
    margin: 0 0.25rem;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    cursor: pointer;
  }
  
  #slide-1:checked ~ .slides {
    transform: translateX(0%);
  }
  
  #slide-2:checked ~ .slides {
    transform: translateX(-25%);
  }
  
  #slide-3:checked ~ .slides {
    transform: translateX(-50%);
  }
  
  #slide-4:checked ~ .slides {
    transform: translateX(-75%);
  }
  
  #slide-1:checked ~ .slides-nav label#dot-1,
  #slide-2:checked ~ .slides-nav label#dot-2,
  #slide-3:checked ~ .slides-nav label#dot-3,
  #slide-4:checked ~ .slides-nav label#dot-4 {
    background-color: var(--second-color);
  }
/* ********** Menu ********** */
.menu{
    position:fixed;
    z-index: 10;
    bottom: var(--header-height);
    width: 89%;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.menu a {
    padding: 0px 15px 0px 15px;
}
.menu a h2{
    display: none;
}
.menu a i:hover{
    opacity: 0.5;
}
@media screen and (min-width: 700px){
    .header{
        position: fixed;
        z-index: 10;
    }
    .about-us{
        padding: 150px 0px 0px 0px;
    }
     .menu{
        grid-area: Nav;
        position:fixed;
        top: 0;
        left: 15%;
        bottom: auto;
        margin: 0px;
        padding: 35px;
        border-radius: 0px;
        background-color: rgba(0, 0, 0, 0.335);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .menu a i{
        display: none;
    }
    .menu a h2{
        display: block;
        font-size: 20px;
        color: var(--second-color);
    }

    .menu a h2:hover{
        opacity: 0.5;
    }
    .image-transform{
        width: auto;
        padding: 0px 120px;
        
    }
     
 }
/* ********** Footer ********** */
.footer{
    grid-area: Footer;
    background-color: var(--btn-color);
    padding: 0px 0px 70px 0px;
   }



/* ********** Utilities ********** */
.write-text{
    position:relative;
    z-index: 10;
    right: 0;
    width: 0;
    background-color: var(--third-color);
    border-left:  1px solid #000;
    animation: write 5s infinite alternate;
}

@keyframes write {
    from {
        width: 73%;
    }
    to {
        width: 29%;

    }
}
.rebote{
    animation: rebote 1s alternate infinite;
}

@keyframes rebote {
    0%{
      transform: translateY(-20%);  
    }
    100%{
      transform: translateY(0%);
    }
}
.parallax {
	position: fixed;
    z-index: -100;
	top: 0;
	transform: translate3d(0, 0, 0);
	transform-style: preserve-3d;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
    opacity: 0.4;
}
.row-reverse{
    flex-direction: row-reverse;
}
.horizontal_slider{
    overflow-x: scroll;
}

.slide_container{
    display: flex;
}

.horizontal_slider::-webkit-scrollbar{
    display: none;
}
.btn{
    position: relative;
    background-color: var(--btn-color);
    border-radius: 5px;
    width: auto;
    height: 40px;
    bottom: 20px;
    padding: 0px 10px;
    margin: 20px 0px 0px 0px;
}
.btn_text_center{
    position: relative;
    top: 9px;
    color: white;
    font-size: 18px;

}

 /* ********** Site Styles ********** */
 .container-trasform, .container-help{
    background-color: var(--first-color);
}
 .includes, .star, .contact-container{
     background-color: var(--third-color);
 }
 .container-service, .consists{
     background-color: var(--background-color);
 }
 .icon_menu{
    color: var(--icon-color);
}
.icon_email{
    font-size: var(--font-size-icon);
    color: var(--icon-color);
}
.social_media{
    font-size: var(--font-size-icon);
    padding: 20px;
    color: var(--icon-color);
}

.container-help h1{
    padding: 0px 0px 20px 0px;
}
.container-help-video{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items:center
}
.container-email{
    display: flex;
    color: white;
    flex-direction: column;
    padding: 30px;
    align-items: center;
}

@media screen and (min-width: 300px) {
    .slide_container{
        max-width: 300px;
    }
    .footer{
            display: flex;
        flex-direction:column-reverse;
       }


}
@media screen and (min-width: 500px) {
    .slide_container{
        max-width: 400px;
    }

}
@media screen and (min-width: 700px) {
    .slide_container{
        max-width: 500px;
    }
    .footer h1{
        display: none;
    }
    .container-help-video{
        flex-direction: row;
    }
}
@media screen and (min-width: 900px) {
    .slide_container{
        max-width: 700px;
    }
}
@media screen and (min-width: 1000px) {
    .logo-container{
        padding: 10px;
        position: relative;
        left: 60px;
    }
    .slide_container{
        max-width: 900px;
    }

}

@media screen and (min-width: 1400px) {
    .slide_container{
        max-width: 1400px;
    }
    .menu a h2{
        display: block;
        font-size: 20px;
        color: var(--second-color);
    }
}

.container-bar{
    position: fixed;
    z-index: 20;
    height: 5px;
    width: 100%;
    background-color: white;
}
.bar{
    background-color: red;
    width: 0%;
    height: 5px;
}
.banner{
    display: none;
}
.banner{
    position: fixed;
    width: 100%;
    top: 5px;
    z-index: 20;
    background-color: black;
}
.container-banner p {
    padding: 2px;
}


.cookies-box {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background: white;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.cookies-box .container-cookies {
    padding: 20px 0;
    max-width: 90%;
    display: flex;
    align-items: center;

}
.cookies-box .container-cookies .paragraphs p {
    color: black;
}
.cookies-box .container-cookies .paragraphs p #ver_pol{
    margin: 4px 0px;
    padding: 4px;
    border-radius: 20px;
    border: 2px solid black;
}
.cookies-box .container-cookies .paragraphs p #ver_pol:hover{
    border: 2px solid red;
    color: red;
    cursor: pointer;
}
.cookies-box .container-cookies .paragraphs p a {
    color: black;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
}
.cookies-box .container-cookies .paragraphs p a:hover {
    color:black;
}
.cookies-box .container-cookies .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.cookies-box .container-cookies .buttons button {
    background: transparent;
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
}
.cookies-box .container-cookies .buttons button:hover {
    color: #f00;
    border: 2px solid #f00;
}
.cookies-box .container-cookies .buttons button:last-child {
    margin-top: 5px;
}

.modal {
    position: fixed;
    z-index: 100;
    width: 85%;
    height: 50%;
    top: 35%;
    left: 50%;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 20px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    background-color:  red;
}
.modal .titulo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.modal .titulo #close_modal {
    padding: 10px;
    border-style: none;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}
.modal .titulo #close_modal:hover {
    color: black;
}
.modal .parrafo {
    text-align: justify;
    margin-bottom: 20px;
}
.modal .aceptar button {
    background: transparent;
    color: #000;
    border: 2px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
}
.modal .aceptar button:hover {
    color: #f00;
    border: 2px solid #f00;
}

/*TODO organizar mejor los @media